@import "variables";
// LATO
@font-face {
    font-family: Lato;
    src: url(fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/lato/Lato-Bold.ttf);
    font-weight: bold;
}

// BENCHNINE
@font-face {
    font-family: BenchNine;
    src: url(fonts/benchnine/BenchNine-Regular.ttf);
}

@font-face {
    font-family: BenchNine;
    src: url(fonts/benchnine/BenchNine-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    color: #333;
}

a.stealth {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: $caps-font, sans-serif;
    text-transform: uppercase; 
    text-align: center;
}

hr {
    height: 1px;
    margin: 0px;
    border: none;
    background-color: #DDD;
    box-shadow: 0 1px 3px #DDD;
}

#content {
    @include side-shadows();
    @include border-box();
    max-width: $max-page-width;
    min-width: $min-page-width;
    margin: 0 auto; 
    padding: 25px 0 25px 0;
    font-family: Georgia, serif;
}

.image-wrapper {
    @include border-box();
    float: right;
    width: 50%;
    margin: 15px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 2px 2px #eee;
    
    img {
        width: 100%
    }

    p {
        margin: 3px;
        color: #666;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }
}

a.button {
    display: inline-block;
    color: $off-white;
    text-decoration: none;
    font-size: 18px;
    background-color: $btn-color; 
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $btn-shadow, inset 0px 0px 3px $btn-inset;

    &:hover {
        background-color: $btn-inset;
    }

    &.alt {
        background-color: $alt-btn-color;
        box-shadow: 1px 1px 3px $alt-btn-shadow, inset 0px 0px 3px $alt-btn-inset;

        &:hover {
            background-color: $alt-btn-inset;
        }
    }
}

.paypal-box-wrapper {
    text-align: center;
    .paypal-box {
        display: inline-block;
        padding: 6px 0 6px 13px;
        border-radius: 5px;
        font-size: 20px;
        box-shadow: inset 0px 0px 3px #999;
        color: $light-grey;

        &.active {
            box-shadow: inset 0px 0px 4px #222;
            color: #333;
        }

        input[type="text"] {
            border: none;
            font-size: inherit;
            font-family: Georgia, serif;
            height: 30px;
        }

        input[type="text"]:focus {
            outline: none;
        }
    }

    .submit {
        .via {
            display: block;
            font-family: $caps-font;
            font-size: 21px;
            line-height: 15px;
            color: $dark-grey;
            text-transform: uppercase;
        }
        display: inline-block;
        padding: 10px;
        position: relative;
        top: 23px;
    }
}


// Clearfix from http://css-tricks.com/snippets/css/clear-fix/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
