@import "variables";
$info-width: 350px;

#slide-wrapper {
    position: relative;
    box-shadow: 0 3px 3px #DDD;
}

#slides {
    position: relative;
    height: 372px;
    box-shadow: 0px 5px 3px -3px #DDD;

    .slide-item {
        background-position: top right;
        height: inherit;
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        height: inherit;

        .info {
            @include border-box;
            float: right;
            width: $info-width;
            padding: 20px 25px 0;
            background-color: #EEE;
            height: inherit;
            text-align: left;
            
            h3 {
                font-family: $caps-font, sans-serif;
                text-transform: uppercase;
                color: inherit;
                font-size: 50px;
                margin: 0;
                text-align: inherit;
            }

            p {
                font-size: 24px;
                margin: 10px 0;
            }

            .buttons {
                @include border-box;
                // margin-top: 35px;
                position: absolute;
                bottom: 30px;
                right: 30px;
                
                .button {
                    float: right;
                    margin-right: 10px; 
                }
            }
        }

        &.active {
            display: block;
        }

        .slide-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: $info-width;
            background-size: cover;
            background-position: center center;
        }

        &.person1 {
            .slide-img.person1 {
                background-image: url(../images/people/1.jpg);
            }
            .info {
                li {
                    font-size: 20px;    
                }
            }
        }

        &.person2 {
            .slide-img {
                background-image: url(../images/people/2.jpg);
                background-position-y: 4%;
            }
        }
        
        &.person3 {
            .slide-img {
                background-image: url(../images/people/3.jpg);
                background-position-y: 4%;
            }
            .info {
                h3 {
                    font-size: 40px;
                }
                em {
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }

    }
}

#slide-thumbs {
    background-color: $nearly-white;

    .slide-thumbs-inner {
        margin: 10px auto;

        .slidethumb {
            @include border-box;
            padding: 10px 35px 6px;
            width: 33%;
            float: left;

            &:last-child {
                padding-bottom: 0;
            }

            .slidethumb-inner {
                margin: 0 auto;

                a {
                    border: 2px solid $off-white;
                    display: inline-block;
                    padding: 3px;
                    border-radius: 5px;
                    overflow: hidden;

                    &:hover, &.active {
                        background-color: $btn-inset;
                    }
                
                    img {
                        display: block;
                        width: 100%;
                        border-radius: inherit;
                    }
                }
            }
        }
    }

}
