@import "variables";

.title {
    @include photo_header("about.jpg");
    background-position: 0 32%;
}

#content {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 0;

    ul {
        margin-left: 50px;
    }

    .image-wrapper {
        float: none;
        margin: 0 auto;
    }
}

p {
    margin: 15px 45px;
}
