@import "variables";

.title {
    @include photo_header("future.jpg");
    background-position: 0 14%;
}

#content {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 0;
    
    > p {
        margin: 16px 100px; 
    }
    ol {
        @include bold_list();
        li {
            p {
                @include border_box();
            }

            > img {
                display: block;
                width: 50%;
                margin: 18px auto;
            }

            .image-wrapper {
                float: none;
                margin: 10px auto;

                &#dentist {
                    width: 70%;
                }
            }
        }
    }
}
