@import "variables";

.title {
    @include photo_header("volunteer.jpg");
    background-position: 0 47%;
}

.title {
    h1 {
        color: white;
        text-shadow:
            -2px -2px 0 #000,  
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    }
}

h2 {
    width: 450px;
}

#content {
    padding-top: 0;
    font-size: 18px;
    line-height: 1.2em;

    ul {
        margin-left: 50px;
    }
}

h2 {
    width: 235px;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 40px;
    @include shadowline;
}

p {
    margin: 15px 45px;
}

#drs {
    float: none;
    margin: 0 auto;
    width: 25%;
}

.img-row {
    margin: 0 45px;
    #line {
        float: none;
        display: inline-block;
        width: 44%;
        margin: 0 10% 0 0;
    }

    #clinic {
        float: none;
        display: inline-block;
        width: 44%;
        margin: 0;
    }
}

#party {
    float: none;
    margin: 0 auto;
}
