@import "variables";

.title {
    @include photo_header("jose.jpg");
    background-position: 0 0%;
}

#content {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 0;
    #text {
        padding: 0 45px inherit;

        #foot {
            width: 30%;
            clear: right;
        }

        #body {
            width: 30%;
        }

        #friends {
            width: 59%;
        }

        .inline {
            float: none;
            width: 29%;
            display: inline-block;
        }

        .image-wrapper {
            float: none;
            margin: 0 auto;
        }

        .img-row {
            margin: 0 45px;
            .image-wrapper:first-child {
                float: none;
                display: inline-block;
                width: 44%;
                margin: 0 10% 0 0;
            }

            .image-wrapper:nth-child(2) {
                float: none;
                display: inline-block;
                width: 44%;
                margin: 0;
            }
        }


        #family {
            float: none;
            margin: 0 auto;
        }

        // #ramp {
        //     float: left;
        //     clear: left;
        //     width: 30%;
        // }

        // #path {
        //     float: left;
        //     width: 300px;
        //     margin-right: 15px;
        // }
    }
}

h2 {
    width: 235px;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 40px;
    @include shadowline;
}

.paypal-box-wrapper {
    margin-bottom: 30px;
}
