@import "variables";

.title {
    @include photo_header("patients.jpg");
    background-position: 0 26%;
}

#content {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 0;

    ul {
        margin-left: 50px;
    }
}

h2 {
    width: 235px;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 40px;
    @include shadowline;
}

p {
    margin: 15px 45px;
}

#stats {
    text-align: center;

    h3 {
        text-align: center;
        padding: 10px 40px;
        font-size: 31px;
    }

    table {
        margin: 0 0 30px;
        border: 1px solid black;
        border-collapse: collapse;
        display: inline-block;

        td, th {
            max-width: 200px;
            padding: 10px;
            border: 1px solid black;
            text-align: center;
        }
        td:first-child {
            text-align: left;
        }
    }

    #immunization {
        display: block;
        margin: 0 auto;
    }
}
