@import "variables";
@import "slides";

#content {
    h1 {
        @include shadowline;
        margin: 0 auto;
        width: 420px;
        font-size: 45px;
    }
     
    h2 {
        margin: 20px 0 10px;
        font-size: 30px;
    }

    a.fancybox {
        @include border_box;
        float: left;
        width: 20%;
        padding: 5px;

        img {
            width: 100%;
        }
    }
}
