@import "variables";

.title {
    @include photo_header("wilson.jpg");
    background-position-y: 39%;
}

#content {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: 0;

    ul {
        margin-left: 50px;
    }
}

.story {
    margin: 20px;
    .image-wrapper.before {
        float: left;
        width: 30%;
        margin: 0;
    }
    .image-wrapper.after {
        @extend .image-wrapper.before;
    }
    > p {
        @include border-box();
        width: 40%;
        float: left;
        margin: 0;
        padding: 15px 45px;
    }
}

p {
    margin: 15px 45px;
}
