#content {
  padding: 0;
  margin-bottom: 40px; }

.title {
  position: relative;
  background-image: url("../images/covers/donate.jpg");
  background-size: cover;
  height: 300px;
  background-position-y: 40%; }
  .title h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000; }

p.info {
  font-size: 18px;
  margin: 16px 100px; }

ol, ul {
  margin: 16px 100px; }
  ol li, ul li {
    font-size: 18px;
    font-weight: bold; }
    ol li p, ul li p {
      font-weight: normal; }

ul li {
  font-weight: normal; }
  ul li .amt {
    font-weight: bold; }
