.title {
  position: relative;
  background-image: url("../images/covers/future.jpg");
  background-size: cover;
  height: 300px;
  background-position-y: 30%; }
  .title h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000; }

#content {
  font-size: 18px;
  line-height: 1.2em;
  padding-top: 0; }
  #content ul {
    margin-left: 50px; }

ol {
  margin: 16px 100px; }
  ol li {
    font-size: 18px;
    font-weight: bold; }
    ol li p {
      font-weight: normal; }
