.title {
  position: relative;
  background-image: url("../images/covers/future.jpg");
  background-size: cover;
  height: 300px;
  background-position: 0 14%; }
  .title h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000; }

#content {
  font-size: 18px;
  line-height: 1.2em;
  padding-top: 0; }
  #content > p {
    margin: 16px 100px; }
  #content ol {
    margin: 16px 100px; }
    #content ol li {
      font-size: 18px;
      font-weight: bold; }
      #content ol li p {
        font-weight: normal; }
    #content ol li p {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #content ol li > img {
      display: block;
      width: 50%;
      margin: 18px auto; }
    #content ol li .image-wrapper {
      float: none;
      margin: 10px auto; }
      #content ol li .image-wrapper#dentist {
        width: 70%; }
