#slide-wrapper {
  position: relative;
  box-shadow: 0 3px 3px #DDD; }

#slides {
  position: relative;
  height: 372px;
  box-shadow: 0px 5px 3px -3px #DDD; }
  #slides .slide-item {
    background-position: top right;
    height: inherit;
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: inherit; }
    #slides .slide-item .info {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: right;
      width: 350px;
      padding: 20px 25px 0;
      background-color: #EEE;
      height: inherit;
      text-align: left; }
      #slides .slide-item .info h3 {
        font-family: BenchNine, sans-serif, sans-serif;
        text-transform: uppercase;
        color: inherit;
        font-size: 50px;
        margin: 0;
        text-align: inherit; }
      #slides .slide-item .info p {
        font-size: 24px;
        margin: 10px 0; }
      #slides .slide-item .info .buttons {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        bottom: 30px;
        right: 30px; }
        #slides .slide-item .info .buttons .button {
          float: right;
          margin-right: 10px; }
    #slides .slide-item.active {
      display: block; }
    #slides .slide-item .slide-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 350px;
      background-size: cover;
      background-position: center center; }
    #slides .slide-item.person1 .slide-img.person1 {
      background-image: url(../images/people/1.jpg); }
    #slides .slide-item.person1 .info li {
      font-size: 20px; }
    #slides .slide-item.person2 .slide-img {
      background-image: url(../images/people/2.jpg);
      background-position: 0 4%; }
    #slides .slide-item.person3 .slide-img {
      background-image: url(../images/people/3.jpg);
      background-position: 0 4%; }
    #slides .slide-item.person3 .info h3 {
      font-size: 40px; }
    #slides .slide-item.person3 .info em {
      text-align: right;
      padding-right: 10px; }

#slide-thumbs {
  background-color: #f6f7f7; }
  #slide-thumbs .slide-thumbs-inner {
    margin: 10px auto; }
    #slide-thumbs .slide-thumbs-inner .slidethumb {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 35px 6px;
      width: 33%;
      float: left; }
      #slide-thumbs .slide-thumbs-inner .slidethumb:last-child {
        padding-bottom: 0; }
      #slide-thumbs .slide-thumbs-inner .slidethumb .slidethumb-inner {
        margin: 0 auto; }
        #slide-thumbs .slide-thumbs-inner .slidethumb .slidethumb-inner a {
          border: 2px solid #e6e7e7;
          display: inline-block;
          padding: 3px;
          border-radius: 5px;
          overflow: hidden; }
          #slide-thumbs .slide-thumbs-inner .slidethumb .slidethumb-inner a:hover, #slide-thumbs .slide-thumbs-inner .slidethumb .slidethumb-inner a.active {
            background-color: #30aed9; }
          #slide-thumbs .slide-thumbs-inner .slidethumb .slidethumb-inner a img {
            display: block;
            width: 100%;
            border-radius: inherit; }

#content {
  padding-top: 0px; }

#mission {
  width: 70%;
  margin: 0 auto 50px auto;
  text-align: center; }
  #mission h2 {
    box-shadow: 0 5px 3px -2px #DDD;
    display: inline-block;
    font-family: BenchNine, sans-serif, sans-serif;
    font-size: 50px;
    padding: 0 120px;
    margin-bottom: 0; }
  #mission p {
    font-size: 21px; }

#numbers h3 {
  font-size: 30px; }

#help h3 {
  font-size: 30px; }
#help .help-method {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  padding: 0 20px;
  text-align: center; }
  #help .help-method > a {
    display: block;
    width: 75%;
    margin: 0 auto; }
    #help .help-method > a img {
      width: 100%; }
  #help .help-method h4 {
    margin: 0;
    font-size: 21px;
    margin-top: 10px; }
