.title {
  position: relative;
  background-image: url("../images/covers/patients.jpg");
  background-size: cover;
  height: 300px;
  background-position: 0 26%; }
  .title h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000; }

#content {
  font-size: 18px;
  line-height: 1.2em;
  padding-top: 0; }
  #content ul {
    margin-left: 50px; }

h2 {
  width: 235px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 40px;
  box-shadow: 0 5px 3px -2px #DDD; }

p {
  margin: 15px 45px; }

#stats {
  text-align: center; }
  #stats h3 {
    text-align: center;
    padding: 10px 40px;
    font-size: 31px; }
  #stats table {
    margin: 0 0 30px;
    border: 1px solid black;
    border-collapse: collapse;
    display: inline-block; }
    #stats table td, #stats table th {
      max-width: 200px;
      padding: 10px;
      border: 1px solid black;
      text-align: center; }
    #stats table td:first-child {
      text-align: left; }
  #stats #immunization {
    display: block;
    margin: 0 auto; }
