#content {
  font-size: 18px;
  line-height: 1.2em; }
  #content ul {
    margin-left: 50px; }

h2 {
  width: 235px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 40px;
  box-shadow: 0 5px 3px -2px #DDD; }

p {
  margin: 15px 45px; }
