<!DOCTYPE html>
<html>
    <head>
        <title>Constanza</title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="css/base.css">
        {% endblock %}
        {% block js %}
            <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav id="main-nav" class="clearfix">
           <div id="nav-inner" class="clearfix">
                <a href="index.html" class="brand">Constanza<span class="brand-highlight">Medical</span>Mission</a>
                <ul class="clearfix">
                    <li>
                        <a href="about_us.html">About Us</a>
                        <ul>
                            <li><a href="about_us.html">Who We Are</a></li>
                            <li><a href="#">Our Patients</a></li>
                            <li><a href="future.html">What's Next</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Success Stories</a>
                        <ul>
                            <li><a href="#">Meet Emiliano</a></li>
                            <li><a href="#">Meet Wilson</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Volunteer</a>
                        <ul>
                            <li><a href="#">Join us on a mission</a></li>
                            <li><a href="help_from_home.html">Help from home</a></li>
                        </ul>
                    </li>  
                    <li>
                    <a href="#">Donate</a>
                        <ul>
                            <li><a href="#">Donate Now</a></li>
                            <li><a href="#">What Your Donation Provides</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Media</a>
                        <ul>
                            <li><a href="photos.html">Photo Galleries</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </li>  
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class="footer clearfix">
            <!-- <div class="footer&#45;inner"> -->
                <div class="address">
                    <p>Constanza Mission</p>
                    <p>45 Prospect Street</p>
                    <p>Cambridge, MA 02138</p>
                </div>
                <div class="contact">
                    <p><strong>Phone:</strong> (555) 555-5555</p>
                    <p><strong>Email:</strong> constanzamission@example.com</p>
                </div>
            <!-- </div> -->
        </footer>
    </body>
</html>
