<!DOCTYPE html>
<html>
    <head>
        <title>Constanza</title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="css/base.css">
        {% endblock %}
        {% block js %}
            <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav id="main-nav" class="clearfix">
           <div id="nav-inner" class="clearfix">
                <a class="brand stealth" href="index.html">Constanza<span class="brand-highlight">Medical</span>Mission</a>
                <ul class="clearfix">
                    <li>
                        <a class="stealth" href="#">About Us</a>
                        <ul>
                            <li><a class="stealth" href="about_us.html">Who We Are</a></li>
                            <li><a class="stealth" href="our_patients.html">Our Patients</a></li>
                            <li><a class="stealth" href="future.html">What's Next</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="stealth" href="#">Success Stories</a>
                        <ul>
                            <li><a class="stealth" href="wilson.html">Wilson Alberto</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="stealth" href="#">Volunteer</a>
                        <ul>
                            <li><a class="stealth" href="join_us.html">Join us on a mission</a></li>
                            <li><a class="stealth" href="help_from_home.html">Help from home</a></li>
                        </ul>
                    </li>  
                    <li>
                    <a class="stealth" href="#">Donate</a>
                        <ul>
                            <li><a class="stealth" href="donate.html">Donate Now</a></li>
                            <li><a class="stealth" href="jose.html">Meet Jos&eacute; Miguel</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="stealth" href="#">Media</a>
                        <ul>
                            <li><a class="stealth" href="photos.html">Photo Galleries</a></li>
                            <li><a class="stealth" href="videos.html">Videos</a></li>
                        </ul>
                    </li>  
                    <li>
                        <a class="stealth" href="#">Contact</a>
                        <ul>
                            <li><a class="stealth" href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class="footer clearfix">
            <!-- <div class="footer&#45;inner"> -->
                <div class="address">
                    <p>Constanza Medical Mission</p>
                    <p>16 Ivy Court</p>
                    <p>South Weymouth, MA 02190</p>
                </div>
                <div class="contact">
                    <p><strong>Phone:</strong> 781-337-4097</p>
                    <p><strong>Email:</strong> gmannke@comcast.net</p>
                </div>
            <!-- </div> -->
        </footer>
    </body>
</html>
