<div class="paypal-box-wrapper">
    <div class="paypal-box">
        <span class="currency">$</span>
        <input type="text" name="amt" value="25.00">
    </div>
    <a href="#" class="stealth submit"><span class="via">Donate Via</span><img src="images/donate/paypal.gif"></a>
</div>
