<div class="slidethumb" data-person="{{ person_num }}">
    <div class="slidethumb-inner">
        <a href="#" class="{{ class }}"><img src="images/people/{{ person_num }}thumb.jpg"></a>
    </div>
</div>
