<div class="slide-item {{ class }} clearfix">
    <div class="slide-img {{ class }}"></div>
    <div class="info">
        <h3>Meet {{ name }}</h3>
        <p>{{ paragraph }}</p>
        <div class="buttons clearfix">
            <a class="button" href="#">Donate</a>
            <a class="alt button" href="#">Learn More</a>
        </div>
    </div>
</div>
