{% extends "jinja2/_textpage.html.jinja2" %}
{% block section_title %}About Us{% endblock %}
{% block text %}
        <p>The Constanza Medical Mission is a tax-exempt 501(c)(3) charitable organization. It was initially affiliated with Saint Jerome's Parish in Weymouth, MA. The CMM was founded in 2005, after Saint Jerome's Deacon Joe Vitello visited the Dominican Republic and was moved by the poor conditions he saw there.</p>
        <p>Deacon Vitello recognized that the Constanza and Tireo communities were in dire need of improved medical services, so he invited American health care providers to join him on trips to help the poor, and the Constanza Medical Mission was born. With the support of Saint Jerome's pastor, Fr. Thomas Wyndham, as well as the entire Saint Jerome's congregation, Deacon Vitello set about establishing a medical mission in the city of Constanza.</p>
        <p>Since 2005, we have</p>
        <ul>
        <li>Completed fourteen mission trips to Constanza with more than 300 volunteers</li>
        <li>Treated over 8,000 patients</li>
        <li>Distributed $100,000 worth of medicine</li>
        <li>Donated $150,000 worth of medical equipment and supplies to local clinics and hospitals</li>
        <li>Provided $50,000 worth of non-medical supplies, including a van that transports high-risk patients to hospitals in the country's capital</li>
        <li>Established a permanent member of our mission, Dr. Saif, who provides year-round medical care for the Constanza community</li>
        </ul>
    </div>
{% endblock %}
