{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/contact.css">
{% endblock %}
{% block content %}
    <div id="content">
        <h1>Contact Us</h1>
        <p>If you have any questions about the Constanza Medical Mission, we'd love to hear from you!</p> 
        <p>If you'd like to volunteer, please contact Katy Foley at <a href="mailto:ktered@aol.com">ktered@aol.com</a>.</p>
        <p>If you'd like to make a donation, please check out our <a href="donate.html">donate page</a> or contact Katy Foley at <a href="mailto:ktered@aol.com">ktered@aol.com</a>.</p>
        <p>For all other questions, please contact Glenn Mannke at:</p> 
        <p class="address">Constanza Medical Mission</p>
        <p class="address">16 Ivy Court</p>
        <p class="address">South Weymouth, MA 02190</p>
        <p class="address"><strong>Phone:</strong> 781-337-4097</p>
        <p class="address"><strong>Email:</strong> gmannke@comcast.net</p>
    </div>
{% endblock %}
