{% extends "jinja2/_base.html.jinja2" %}
<div id="content">
    <div class="main-donation">
        <h1>Donate to Constanza Medical Mission</h1>
    </div>
    <div class="donation-story"></div>
    <div class="donation-story"></div>
</div>
