{% extends "jinja2/_textpage.html.jinja2" %}
{% block section_title %}Our Plan{% endblock %}
{% block text %}
    <p><strong>Our dreams were large and have become larger...</strong></p>
    <p>Imagine a magnificent valley with many small villages. Many people, young and old-- people living and suffering in severe poverty. People living off the land without modern technology. Living in small wood and mud huts, often destroyed or damaged by the hurricane season each year. Peasants farming in ways similar to the 16th century. Malnutrition, severe injuries including eye injuries from farming equipment and traffic accidents, severe fractures and of course high blood pressure, diabetes and many other illnesses. And yet they remain a dignified, open, pleasant and friendly people.</p>
    <p>Now imagine in a few years an improved medical system providing care with dignity to these people. Add clean water being provided by our partners, Engineers without Borders (from Harvard University) and Rotary International. This is our dream and Yes we can do this. Yes we are doing this now.</p>
    <p>Our first visit six years ago was to scout the area and plan to build a clinic with a large financial investment. We soon abandoned the clinic concept and developed a brand new strategy. Work with the present hospital, its administration and clinic, both of which were desperately in need of improvements, structurally and certainly operationally. We have already placed a modern Drager anesthesia machine in the operating room. The pediatric ward has been upgraded and refurbished. More improvements will follow. The local clinic has been renovated, and has modern equipment.</p>
    <p>We began this project and two years ago started a dramatic new advance to future success. We hired a full time Dominican physician to take care of the patients when we are not there. We will continue to visit twice each year and travel to the outlying barrios where we will provide medical teams and medication as well as dental care in simple school rooms. A primitive eye service has also begun with eye exams and eye glasses. Our full time local physician is providing follow up care for patients with hypertension, diabetes mellitus and many other conditions. We have established a solid beachhead and we will continue to advance from here.</p>
    <p>We work very closely with Sor Rosario from the convent in Tireo as well as the Parish council and the local priest. They all remain a key to our success. They introduce us to the community and advise us when we become impatient. We are slowly reaching out to other organizations such as the Lions and Rotary clubs to help us enter the community.</p>
    <p>We are planning Women's health project and these will lead us to improving Children's health. We are diagnosing and treating hypertension which often leads to stroke when untreated. This would be a major problem here but in that environment it is devastating. The whole family suffers. Diabetes mellitus and seizure disorders are the common diseases we treat.</p>
    <p>A major component of our vision is to train the Dominican doctors in better health care management. Their medical knowledge is actually good. Delivery and attitude is the problem. With our example and mentorship we will bring superior care to this valley changing the lives of thousands of people.</p>
    <p>The aim of our project is medical care with sustainability and ultimately reproducibility. which are achieved by the following means:</p>
    <ul>
        <li>Every project is accompanied by extensive capacity-building and training activities</li>
        <li>We are committed to long-term follow-up activities in all the projects</li>
        <li>We are committed to working with the local authorities and health care providers to upgrade the quality of service for the local people.</li>
        <li>We deliver medical equipment and medications for use by the local physicians as well as our visiting caregivers and teachers.</li>
        <li>Technologies are carefully selected to suit the needs and capacities of the local populations. .e.g. filtering for clean water.</li>
    </ul>
    <p>Our projects are designed in cooperation with local people for sustainability. Maximum flexibility is maintained in order to address the specific needs of the country.</p>
    <p>We are on the way. Our goals are set and attainable. With your help we will reach all the targets we have set.</p>
{% endblock %}
