{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/future.css">
{% endblock %}
{% block content %}
    <div id="content">
        {% set title="What's Next" %}
        {% include "jinja2/_cover_title.html.jinja2" %}
            <p>Over the past eight years, with the help of volunteers and donors, we have been able to achieve incredible things. However, there is much work to do. These are some of the projects we plan to complete in the next few years.</p>
        <ol>
            <li class="clearfix">
                <span>Special Patients</span>
                <p>Every time we go on a mission, we find patients who are in desperate need of help, but the Constanzan medical system simply can't provide what they need. For example, this May we met the Jimenez family. They all suffer from retinitis pigmentosa, which has made them blind. However, they live in a very dangerous home.</p>
                <img src="images/future/rocky-path.jpg">
                <p>This rocky path is the only approach to the Jimenez home. They have memorized the path, but every time it rains, the path changes. We are raising money to refurbish their home and make it safe.</p>
            </li>
            <li>
                <span>Water Project</span>
                <p>The drinking water in Constanza is terribly polluted. Many children suffer from water-borne infections. In conjunction with Rotary, hundreds of water filters have been distributed to local families. With your support, we will be able to provide additional water filters to more deserving families.</p>
                <div class="image-wrapper">
                    <img src="images/future/filter.jpg">
                    <p>This is a water filter in a Constanzan home. Check out the sticker!</p>
                </div>
            </li>
            <li class="clearfix">
                <span>Dental Clinic</span>
                <p>Dental care is very expensive in Constanza, so many people simply suffer with the pain of rotten teeth. During every mission, our dentists are forced to pull dozens of teeth. In 2014, we will provide financial and technical support to a new dental clinic in Constanza. "Dentist Dave", a volunteer dentist who has been on several missions, does dental procedures at our clinics and is integral to the planning of the new dental unit.</p>
                <div id="dentist" class="image-wrapper">
                    <img src="images/future/dentist.jpg">
                    <p>This is "Dentist Dave", a volunteer dentist who has been on several missions. He does dental procedures at our clinics and is integral to the planning of the new dental unit.</p>
                </div>
            </li>
            <li>
                <span>Improve the Hospital</span>
                <p>The Constanza Hospital does not possess many basic supplies. In the next few years, we are going to improve our partnership with them. The CMM will send more supplies and provide more training to the local professionals. Working together, we will make Constanza Hospital a much more effective health care provider.</p>
            </li>
        </ol>
    </div>
{% endblock %}
