{% extends "jinja2/_textpage.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/from_home.css">
{% endblock %}
{% block section_title %}How You Can Help{% endblock %}
{% block text %}
    <p>There is so much to do in Constanza &mdash; our intent is to provide clean water, nutritious food, and competent health care for thousands of people. And we need your help!</p>
    <p>We need grant writers, computer experts, Spanish translators, administrative volunteers, and more.
    <em>If you are interested in volunteering with us, please email us at gmannke@comcast.net or call 781-337-4097.</em></p>
{% endblock %}
