{% extends "jinja2/_textpage.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/from_home.css">
{% endblock %}
{% block section_title %}Help From Home{% endblock %}
{% block text %}
    <p>There is so much to do in Constanza &mdash; our intent is to provide clean water, nutritious food, and competent health care for thousands of people. And we need your help!</p>
    <p>Remember: if we work hard in Boston, then we can do amazing things in Constanza!</p>
    <div class="image-wrapper">
        <img src="images/volunteer/doctor.jpg">
        <p>Dr. Rudolph and Dr. Saif using a CMM-imported ultrasound machine</p>
    </div>
    <p>We need grant writers, computer experts, Spanish translators, administrative volunteers, and more.
    <em>If you are interested in volunteering with us, please contact Katy Foley at <a href="mailto:ktered@aol.com">ktered@aol.com</a>.</em></p>
{% endblock %}
