{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/index.css">
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="js/slides.js"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <div id="slide-wrapper">
            <div id="slides" class="clearfix">
                <div class="slide-item person1 active clearfix">
                    <div class="slide-img person1"></div>
                    <div class="info">
                        <p>Since 2005, the Constanza Medical Mission has</p>
                        <ul>
                            <li>Treated over 8000 patients</li>
                            <li>Distributed $100,000 worth of medicine</li>
                            <li>Donated $150,000 worth of medical equipment and supplies to local clinics and hospitals</li>
                        </ul>
                        <div class="buttons clearfix">
                            <a class="alt button" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                
                {% set class="person2" %}
                {% set name="Jos&eacute; Miguel" %}
                {% set paragraph="Jose Miguel is struggling with a major illness. He and his family are doing their best, but they need your help. Please <a href=\"#\">click here</a> to learn more." %}
                {% include "jinja2/_slide.html.jinja2" %}

                <div class="slide-item person3 clearfix">
                    <div class="slide-img person3"></div>
                    <div class="info">
                    <h3>Volunteer With Us</h3>
                    <p>"It was one of the most fulfilling, exciting, and fun weeks of my life!"</p>
                        <p><em>--Constanza Medical Mission Volunteer</em></p>
                        <div class="buttons clearfix">
                            <a class="alt button" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slide-thumbs" class="clearfix">
                <div class="slide-thumbs-inner clearfix">
                    {% set person_num=1 %}
                    {% set class="active" %}
                    {% include "jinja2/_slide_thumb.html.jinja2" %}
                    {% set class="" %}

                    {% set person_num=2 %}
                    {% include "jinja2/_slide_thumb.html.jinja2" %}

                    {% set person_num=3 %}
                    {% include "jinja2/_slide_thumb.html.jinja2" %}
                </div>
            </div>
        </div>
        <div id="mission">
            <h2>Our Mission</h2>
            <p>The Constanza Medical Mission is dedicated to providing evidence-based medical services to the people of Constanza in the Dominican Republic. Thanks to donations and the tireless efforts of our volunteers, we are able to provide health care, clean water, and desperately needed supplies to the people of this community.</p>
        </div>
        <div id="help" class="clearfix" style="display: none">
            <h3>Help us</h3>
            <div class="help-method">
                <a href="#">
                    <img src="images/help1.jpg">
                </a>
                <h4><a href="#">Go on a mission</a></h4>
                <p>Go on a mission with Constanza.  We'll take you somewhere really exotic and you'll tell all your friends about it.  They'll think you're a good person</p>
            </div>
            <div class="help-method">
                <a href="#">
                    <img src="images/help1.jpg">
                </a>
                <h4><a href="#">Go on a mission</a></h4>
                <p>Go on a mission with Constanza.  We'll take you somewhere really exotic and you'll tell all your friends about it.  They'll think you're a good person</p>
            </div>
            <div class="help-method">
                <a href="#">
                    <img src="images/help1.jpg">
                </a>
                <h4><a href="#">Go on a mission</a></h4>
                <p>Go on a mission with Constanza.  We'll take you somewhere really exotic and you'll tell all your friends about it.  They'll think you're a good person</p>
            </div> 
        </div>
    </div>
{% endblock %}

