{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/join_us.css">
{% endblock %}
{% block content %}
<div id="content">
    {% set title="Join Us On a Mission" %}
    {% include "jinja2/_cover_title.html.jinja2" %}
    <p>Participating in a medical mission can be one of the most fulfilling experiences in your life. You meet amazing people and provide essential medical care. You don't have to be a medical professional... we need doctors, dentists, NPs, PAs, nurses, organizers, and more! A good attitude, flexibility, a desire to help, and a willingness to learn, are the only true requirements.</p> 

    <p>We travel to Constanza in the mountains of the Dominican Republic every May and November. There are planning meetings beforehand, so participants can learn about their roles and meet each other. We leave on a Saturday, land in Santo Domingo, and drive to Constanza that night. We stay in a very safe and pleasant hotel named "Hotel Constanza".</p> 

    <p>Saturday is a long day, but spending Sunday in Constanza is a great experience. There is an optional church service, and then we visit patients in their homes  which is invariably pleasant and interesting. On Monday morning we set up mobile clinics in local schools and begin triaging and treating patients, often treating over 200 patients in a day. Every afternoon we have a wonderful dinner in the local convent and return to the hotel for time to relax and review our day. On Friday morning, we provide a clinic for the "Hotel Constanza" workers and their families, and make the drive to the capital, Santo Domingo. The group gathers for a nice dinner in the Old City and then the energetic folks go out for drinks and dancing. Saturday morning allows time for sightseeing and shopping before heading to the airport. We arrive in Boston Saturday night, exhausted but inspired by what we have seen and accomplished.</p>
</div>
{% endblock %}
