{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/join_us.css">
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
    {% set title="Join Us On a Mission" %}
    {% include "jinja2/_cover_title.html.jinja2" %}
    <p>Participating in a medical mission can be one of the most fulfilling experiences in your life. You meet amazing people and provide essential medical care. You don't have to be a medical professional . . . we need doctors, dentists, NPs, PAs, nurses, organizers, and more! A good attitude, flexibility, a desire to help, and a willingness to learn are the only true requirements.</p> 
    <div class="image-wrapper" id="drs">
        <img src="images/volunteer/drs.jpg">
    </div>
        <p>We travel to Constanza every May and November. There are planning meetings beforehand, so participants can learn about their roles and meet each other. We leave on a Saturday, land in Santo Domingo, and drive to Constanza that night. We stay in a very safe and pleasant hotel named "Hotel Constanza".</p> 
        <p>It's a long day, but spending Sunday in Constanza is a great experience. There is an optional church service, and then we go on home visits, which are invariably pleasant and interesting.</p> 
        <p>The work starts on Monday morning. We set up mobile clinics in local schools and see patients all day. Often, we treat over 200 patients in a day. Then we head back to a local convent for a big dinner and return to the hotel. Clinics run Monday through Thursday.</p> 
    <div class="img-row">
        <div class="image-wrapper" id="line">
            <img src="images/volunteer/line.jpg">
        </div>
        <div class="image-wrapper" id="clinic">
            <img src="images/volunteer/clinic.jpg">
        </div>
    </div>
        <p>On Friday morning, we provide a clinic for the "Hotel Constanza" workers and their families, and then we head for the capital, Santo Domingo. We all go out to dinner in the Old City and then the energetic folks go out for drinks and dancing.</p> 
        <div class="image-wrapper" id="party">
            <img src="images/volunteer/party.jpg">
        </div>
        <p>Saturday morning is usually dedicated to strolling in the Old City and shopping from the street vendors. We get back to Boston Saturday night, exhausted but inspired by what we have seen and accomplished.</p>
</div>
{% endblock %}
