{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/patients.css">
{% endblock %}
{% block content %}
    <div id="content">
        {% set title="Our Patients" %}
        {% include "jinja2/_cover_title.html.jinja2" %}
<p>Over 50,000 people live in Constanza and its surrounding towns. The foundation of the local economy is agriculture; a large percentage of the population earns their living by picking crops. Due to this lifestyle, many people suffer from chronic injuries. Health care is limited and supplies are extremely limited and expensive. For example, the main hospital in Constanza doesn't have any functional incubators. It doesn't even have oxygen monitors to assess patients after surgeries. In addition, most people do not have running water and the water they drink is often contaminated. Due to this issue, many children chronically and unnecessarily suffer from water-borne illnesses. For a variety of reasons, the people of Constanza are in dire need of medical and dental services.</p>
        <div id="stats">
            <h3>Relevant Statistics</h3>

            <table>
                <tbody>
                    <tr>
                        <th>Statistic</th>
                        <th>Dominican Republic</th>
                        <th>Caribbean</th>
                        <th>USA</th>
                    </tr>
                    <tr>
                        <td>Maternal Mortality (per 100,000 births)</td>
                        <td>150</td>
                        <td>63</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Under 5 Mortality Rate (per 1000 live births)</td>
                        <td>25</td>
                        <td>16</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Tuberculosis Incidence (per 100,000 people)</td>
                        <td>83</td>
                        <td>35</td>
                        <td>3.4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><em>Note: These statistics come from the <a href="http://data.worldbank.org/indicator">World Bank</a>.</em></p>
        <p>
            For more information, please check out the following websites:
            <br>
            <br>
            WHO Country profiles on maternal and newborn health
            <br>
            <a href="http://www.who.int/maternal_child_adolescent/countries/dor.pdf">http://www.who.int/maternal_child_adolescent/countries/dor.pdf</a>
            <br>
            <br>
            WHO Country overview
            <br>
            <a href="http://www.who.int/countries/dom/en/">http://www.who.int/countries/dom/en/</a>
            <br>
            <br>
            UNICEF nutrition profile
            <br>
            <a href="http://www.childinfo.org/files/nutrition/DI%20Profile%20-%20Dominican%20Republic.pdf">http://www.childinfo.org/files/nutrition/DI%20Profile%20-%20Dominican%20Republic.pdf</a>
        </p>
    </div>
{% endblock %}
