{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/photos.css">
{% endblock %}
{% block js %}
    {{ super() }}
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <h1>Photo Galleries</h1>
        <h2>March 2013</h2>
        <a class="fancybox" href="images/march2013/images/people1.jpg" rel="march2013"><img src="images/march2013/thumbs/people1.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people2.jpg" rel="march2013"><img src="images/march2013/thumbs/people2.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people3.jpg" rel="march2013"><img src="images/march2013/thumbs/people3.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people4.jpg" rel="march2013"><img src="images/march2013/thumbs/people4.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people5.jpg" rel="march2013"><img src="images/march2013/thumbs/people5.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people6.jpg" rel="march2013"><img src="images/march2013/thumbs/people6.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people7.jpg" rel="march2013"><img src="images/march2013/thumbs/people7.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people8.jpg" rel="march2013"><img src="images/march2013/thumbs/people8.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people9.jpg" rel="march2013"><img src="images/march2013/thumbs/people9.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/people10.jpg" rel="march2013"><img src="images/march2013/thumbs/people10.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature1.jpg" rel="march2013"><img src="images/march2013/thumbs/nature1.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature2.jpg" rel="march2013"><img src="images/march2013/thumbs/nature2.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature3.jpg" rel="march2013"><img src="images/march2013/thumbs/nature3.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature4.jpg" rel="march2013"><img src="images/march2013/thumbs/nature4.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature5.jpg" rel="march2013"><img src="images/march2013/thumbs/nature5.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature6.jpg" rel="march2013"><img src="images/march2013/thumbs/nature6.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature7.jpg" rel="march2013"><img src="images/march2013/thumbs/nature7.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature8.jpg" rel="march2013"><img src="images/march2013/thumbs/nature8.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature9.jpg" rel="march2013"><img src="images/march2013/thumbs/nature9.jpg" alt="" /></a>
        <a class="fancybox" href="images/march2013/images/nature10.jpg" rel="march2013"><img src="images/march2013/thumbs/nature10.jpg" alt="" /></a>
    </div>
{% endblock %}
