{% extends "jinja2/_base.html.jinja2" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/photos.css">
{% endblock %}
{% block js %}
    {{ super() }}
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <h1>Photo Galleries</h1>
        <h2>May 2013</h2>
        <a class="fancybox" href="images/may2013/images/1.jpg" rel="may2013"><img src="images/may2013/thumbs/1.jpg"></a>
        <a class="fancybox" href="images/may2013/images/10.JPG" rel="may2013"><img src="images/may2013/thumbs/10.JPG"></a>
        <a class="fancybox" href="images/may2013/images/11.JPG" rel="may2013"><img src="images/may2013/thumbs/11.JPG"></a>
        <a class="fancybox" href="images/may2013/images/2.jpg" rel="may2013"><img src="images/may2013/thumbs/2.jpg"></a>
        <a class="fancybox" href="images/may2013/images/3.jpg" rel="may2013"><img src="images/may2013/thumbs/3.jpg"></a>
        <a class="fancybox" href="images/may2013/images/4.JPG" rel="may2013"><img src="images/may2013/thumbs/4.JPG"></a>
        <a class="fancybox" href="images/may2013/images/5.JPG" rel="may2013"><img src="images/may2013/thumbs/5.JPG"></a>
        <a class="fancybox" href="images/may2013/images/6.JPG" rel="may2013"><img src="images/may2013/thumbs/6.JPG"></a>
        <a class="fancybox" href="images/may2013/images/7.JPG" rel="may2013"><img src="images/may2013/thumbs/7.JPG"></a>
        <a class="fancybox" href="images/may2013/images/9.JPG" rel="may2013"><img src="images/may2013/thumbs/9.JPG"></a>
    </div>
{% endblock %}
